.popup__close-button {
	background: no-repeat url(../../../images/add-button.svg);
	background-size: cover;
	width: 40px;
	height: 40px;
	padding: 0;
	position: absolute;
	right: -40px;
	top: -40px;
	transform: rotate(-45deg);
	border: none;
}

.popup__close-button:hover {
	cursor: pointer;
	opacity: 0.6;
}

.popup__close-button:focus {
	outline: none;
}

@media (max-width: 767px) {
	.popup__close-button {
		width: 26px;
		height: 26px;
		right: -26px;
		top: -26px;
	}
}
