.profile__description {
    width: 336px;
    margin: 16px 0 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
}

@media (min-width:320px) and (max-width:767px) {
    .profile__description {
        width: 282px;
        margin: 0 auto;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
    }
}