.popup__submit-button {
	width: 358px;
	height: 50px;
	margin: 0 36px 36px;
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	background-color: #ffffff;
	color: #000000;
	border: none;
	border-radius: 2px;
}

.popup__submit-button:hover {
	cursor: pointer;
	opacity: 0.8;
}

.popup__submit-button:focus {
	outline: none;
}

@media (min-width: 320px) and (max-width: 767px) {
	.popup__submit-button {
		width: 238px;
		height: 46px;
		margin: 0 22px 25px;
		font-size: 14px;
		line-height: 17px;
	}
}
