.footer {
    margin: 0 auto 0 200px;
    padding-bottom: 60px;
}

@media (min-width:767px) and (max-width:1279px) {
    .footer {
        margin: 0 19px 0;
        padding-bottom: 36px;
    }
}

@media (min-width:320px) and (max-width:767px) {
    .footer {
        margin: 0 19px 0;
        padding-bottom: 36px;
    }
}